body {
    font-family: verdana, "Lucida Console", "Courier New", monospace;
}

.origami-container {
    width: 100%;
}

.photo {
    width: 40%;
    min-width: 400px;
    border-radius: 25px;
    border: 2px solid #73AD21;
}

table.origami_table {
    width: 100%
}

.description {
    vertical-align : top;
}

details {
    border: 1px solid #aaaa;
    border-radius: 4px;
    padding: 0.5em 0.5em 0;
    background-image: url("background.png");
}

summary {
    background-color: #eee;
}

#cocotte {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

#prequote {
    background-color: #eee;
}

footer {
    font-size: smaller;
    font-style: italic;
}